<body>
  <!-- Banner -->
<div class="banner-header">
  <div class="container">
  	<div class="row">
      <div class="col-md-8 col-sm-9 col-xs-8">
        <ul class="style-ul">
          <li>
            <a href="#">Welcome</a>
          </li>
          <li>
            <a href="#">Portfolio</a>
          </li>
          <li>
            <a href="#">Blog</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </div>
    <div class="col-md-4 col-sm-3 col-xs-4">
          <h4 class="repair-h4">Thinh Lemo</h4>
    </div>
  	</div>
	</div>
</div>
<div class="bg-main">
<div class="container">
    <div class="row">
     
      <div class="col-md-12 text-right">
          <h2 class="repair-h2">Hello. My name is <span class="hight-light">Thinh Lemo</span> and I<br> have creative ideas and build websites</h2>
          <h2 class="repair-h2"><a href="https://portfolio-rails-2633.herokuapp.com/portfolio#">View my Work</a></h2>
  
      </div>
    </div>
	</div>
</div>

  <!-- Footer -->
<div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="contact">
           <li>
            <a class="a" href="#">.</a>
          </li>
          <li>
            <a class="b" href="#">.</a>
          </li>
          <li>
            <a class="c" href="#">.</a>
          </li>
        </ul>
        </div>
      </div>
  
  <p class="text-right">© 2015 Thinh Lemo</p>
	</div>
</div>
  
<!-- Unslider -->
<!-- <script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://unslider.com/unslider.min.js"></script>
  <script>
    $(document).ready(function() {
                  $('.banner').unslider();
  });
  </script>-->
<!-- End-Unslider -->
  

  

</body>